{% extends "students/base.html" %} <!-- Extends the base.html template -->

{% block body %}
<h3 class="text-center m-4">Update Student</h3>
{% if success %}
<!-- Display success message if 'success' variable is True -->
    <div class="alert alert-success" role="alert">
        Student updated successfully
        <a href="{% url 'index' %}" class="alert-link">Go to Home</a>
    </div>
{% else %}
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header"><i class="fa-solid fa-pen-to-square fa-lg"></i>Student Update</div>
                <div class="card-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary"> Update </button> <!-- Add button to submit the updated form -->
                        <a href="{% url 'index' %}" class="btn btn-secondary"> Cancel </a> <!-- Add button to cancel the form and go back to the home page -->
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}